# MongoDB Connection String
MONGODB_URI=mongodb+srv://dhruvjain527:s5X0lzGxT9gKdLxc@cluster0.4epxn5k.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Razorpay API Keys
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Server Port
PORT=5000

# Environment
NODE_ENV=development
